---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

<!-- <h2>Selected Publications</h2> -->
<ul>
  <li>
    <b>Yimeng Guo</b>, Zhifei Chen, Lin Chen*, Wenjie Xu, Yanhui Li, Yuming Zhou, Baowen Xu. 
    Generating Python type annotations from type inference: How far are we? 
    <i>ACM Transactions on Software Engineering and Methodology</i>, 33(5), article 123, 2024: 1-38. 
    <a href="https://dl.acm.org/doi/abs/10.1145/3652153" target="_blank">[link]</a>
  </li>
</ul>


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



