---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

<!-- <h2>Selected Publications</h2> -->
<ul>
  <li>
    <b>Yimeng Guo</b>, Zhifei Chen, Lu Xiao, Lin Chen*, Yanhui Li, Yuming Zhou. 
    Understanding and Identifying Technical Debt in the Co-Evolution of Production and Test Code. 
    <i>IEEE Transactions on Software Engineering</i>, accepted, 2025.
  </li>
  <li>
    <b>Yimeng Guo</b>, Zhifei Chen, Lin Chen*, Wenjie Xu, Yanhui Li, Yuming Zhou, Baowen Xu. 
    Generating Python Type Annotations from Type Inference: How Far Are We? 
    <i>ACM Transactions on Software Engineering and Methodology</i>, 33(5), article 123, 2024: 1-38. 
    <a href="https://dl.acm.org/doi/abs/10.1145/3652153" target="_blank">[paper]</a>
  </li>
  <li>
    Danni Xiao, <b>Yimeng Guo</b>, Yanhui Li, Lin Chen*. 
    Optimizing Search-Based Unit Test Generation with Large Language Models: An Empirical Study.
    <i>Proceedings of the 15th Asia-Pacific Symposium on Internetware (Internetware'24)</i>, 71-80. 
    <a href="https://dl.acm.org/doi/abs/10.1145/3671016.3674813" target="_blank">[paper]</a>
  </li>
  <li>
    Wenjie Xu, Lin Chen*, Chenghao Su, <b>Yimeng Guo</b>, Yanhui Li, Yuming Zhou, Baowen Xu.
    How Well Static Type Checkers Work with Gradual Typing? A Case Study on Python.
    <i>IEEE/ACM 31st International Conference on Program Comprehension (ICPC'23)</i>, 71-80. 
    <a href="https://ieeexplore.ieee.org/abstract/document/10173949" target="_blank">[paper]</a>
  </li>
</ul>


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- {% include base_path %} -->

<!-- <!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



